
.text-container {
  display: block;
  padding: 1.5rem;
}

h1 {
  color: var(--text-color);
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: var(--text-color);
  font-weight: 500;
  margin-bottom: 2rem;
}

.btn-container {
  position: relative;
  z-index: 10;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
  padding: 1rem;
  border-radius: 0.8rem;
}


.btn-choice, .btn-yes, .btn-not {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  text-align: center;
  transition: background-color 0.3s;
}

.btn-choice.clicked {
  background-color: #ff5733;
}
